<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="First Name" id=""><br>
        <input type="text" name="username" placeholder="Username" id=""><br>
        <input type="email" name="email" placeholder="Email" id=""><br>
        <input type="password" name="password" placeholder="Password" id=""><br>
        <input type="password" name="cnf_password" placeholder="Confirm Password" id=""><br>
        <input type="submit" value="REGISTER">
    </form>
</body>
</html>