body{
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.main-section{
    width: 95%;
    height:85vh;
    background-color: white;
    border-radius: 1%;
    box-shadow: 1px 1px 1px 1px rgb(150, 148, 148);
}

.nav{
    display: flex;
    justify-content: start;
    gap: 40%;
}

.left-nav{
    padding-left: 40px;
}

.main-head{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: rgb(87, 87, 236);
}

.right-nav{
    display: flex;
    justify-content: end;
    gap: 50px;
    padding-top: 10px;
}

.home{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.about{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.contact{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.login{
    padding-top: 15px;
}

.login button{
    border: none;
    outline: none;
    background-color: rgb(87, 87, 236);
    width: 80px;
    height: 30px;
    border-radius: 8px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line{
    border: 1px solid rgb(209, 208, 208);
}

.registered{
    padding-top: 10px;
    padding-left: 40px;
    color: black;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
}

